### Pandas Exercises

### Part I

In [1]:
import pandas as pd

In [4]:
["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

1. Determine the number of elements in fruits.

In [5]:
fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [6]:
fruits_series.size

17

2. Output only the index from fruits.

In [9]:
df = pd.DataFrame(fruits_series)
df

                   0
0               kiwi
1              mango
2         strawberry
3          pineapple
4         gala apple
5   honeycrisp apple
6             tomato
7         watermelon
8           honeydew
9               kiwi
10              kiwi
11              kiwi
12             mango
13         blueberry
14        blackberry
15        gooseberry
16            papaya

In [11]:
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [13]:
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [15]:
fruits_series.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [17]:
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [32]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [33]:
fruits_series.sample(2)

1         mango
13    blueberry
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [21]:
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [35]:
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [36]:
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [28]:
fruits_series.value_counts().nlargest(n = 1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [30]:
fruits_series.value_counts().nsmallest(n = 1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### Part II

1. Capitalize all the string values in fruits.

In [40]:
fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple","honeycrisp apple",
                           "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango",
                           "blueberry", "blackberry", "gooseberry", "papaya"])

In [45]:
fruits_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [46]:
fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [198]:
fruits_series.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

4. Write the code to get the longest string value from fruits.

In [92]:
fruits_series.str.len().max()

16

5. Write the code to get the string values with 5 or more letters in the name.

In [96]:
fruits_series.str.len() >= 5

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
dtype: bool

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [123]:
j = lambda vowel : vowel.count('o') >= 2
fruits_series.apply(j)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

7. Write the code to get only the string values containing the substring "berry".

In [124]:
fruits_series.str.contains('berry')

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

8. Write the code to get only the string values containing the substring "apple".

In [139]:
fruits_series.str.contains('apple')

0     False
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

9. Which string value contains the most vowels?

In [169]:
fruits_series.str.contains('aeiou').max()

False

### Part III

In [190]:
'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
letters = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')
letters = pd.Series(letters)
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

1. Which letter occurs the most frequently in the letters Series?

In [193]:
letters.value_counts().head(1)

y    13
dtype: int64

2. Which letter occurs the least frequently in the letters Series?

In [196]:
letters.value_counts().tail(1)

l    4
dtype: int64

3. How many vowels are in the Series?

In [200]:
letters.str.count('[aeiou]').sum()

34

3. How many consonants are in the Series?

In [202]:
(letters.str.count('[aeiou]').sum()) - len(letters)

-166

4. Create a Series that has all of the same letters but uppercased.

In [204]:
letters.str.capitalize()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

5. Create a bar plot of the frequencies of the 6 most commonly occuring letters.